a {
  font-size: 30px;
  color: blueviolet;
  line-height: 100px;
  text-decoration: none;
}
h1 {
font-size: 100px;
color: blue;
background-color: cadetblue;
}
a:link, a:visited {
  color: navy;
}
a:hover {
  background-color: navy;
  color: yellow;
  text-decoration: underline;
}
a:active {
  background-color: aquamarine;
  color: white;
}