#title{
  width: 300px;
  height: 100px;
  background-color: yellow;
  color: navy;
  text-align: center;
  line-height: 100px;
  border-radius: 50px;
}

h2 {
  font-size: 35px;
}

li {
  font-size: 20px;
}

.hw {
  color:aqua;
}

.sw {
  color: yellowgreen;
}