.btn {
  width: 300px;
  height: 80px;
background-color: aquamarine;
border: 1px solid skyblue;
margin: 10px;
text-align: center;
line-height: 80px;
font-size: 25px;
border-radius: 10px;
}
div:visited{
  color: navy;
}
div:hover{
  background-color: aqua;
  color: white;
  box-shadow: 5px 5px 5px gray;
}
div:active{
  background-color: black;
  color: white;
}
a:visited{
  color: navy;
}
a:hover{
  background-color: aqua;
  color: white;
}
a:active{
  background-color: black;
  color: white;
}