body {
    text-align: center;
    background-color: #222;
}
h1 {
    color:rgb(97, 97, 204);
}
#btn{
    width: 100px;
    height: 50px;
    font-size: 20px;
    border: 1px solid black;
    background-color: aqua;
    color: aliceblue;
}

#result {
    background-color: antiquewhite;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

#frame {
    background-color: aliceblue;
    width: 370;
    margin: auto;
    padding: 30px;
    border-radius: 30px;
    margin-top: 3px;
}